.ontochoice {
  margin: 0;
  width: 345px;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.choosing-terms-and {
  margin: 0;
}
.choosing-terms-and-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 105px;
  font-weight: 500;
  font-family: inherit;
}
.ontochoice-parent {
  width: 668px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 71px;
  min-width: 668px;
  max-width: 100%;
}
.back-image-icon {
  position: absolute;
  height: 150%;
  top: 0;
  bottom: 0;
  left: 142px;
  max-height: 100%;
  width: 688px;
  object-fit: cover;
}
.network-graphic-1-icon {
  position: absolute;
  top: 76px;
  left: 0;
  width: 724px;
  height: 452px;
  object-fit: cover;
  z-index: 1;
}
.image-content {
  align-self: stretch;
  height: 603px;
  position: relative;
}
.frame-container,
.image-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.image-content-wrapper {
  flex: 1;
  flex-direction: column;
  padding: 6px 0 0;
  box-sizing: border-box;
  min-width: 539px;
}
.frame-container {
  align-self: stretch;
  flex-direction: row;
  gap: 51px;
  flex-shrink: 0;
}
.innovation-thats-consistent {
  margin: 0;
  width: 823px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 118%;
}
.consistent-innovation,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.consistent-innovation {
  width: 727px;
  border: 4px solid var(--color-yellowgreen);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-4xs) 0 15px 16px;
  min-height: 97px;
  flex-shrink: 0;
  z-index: 1;
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  gap: 12px;
}
.here-is-some-container,
.here-is-some-container1 {
  margin: 0;
  align-self: stretch;
  height: 206px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.here-is-some-container1 {
  z-index: 1;
  margin: -206px 0 0;
}
.work-poster {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-71xl);
}
.esip-icon {
  position: absolute;
  top: 1388px;
  left: 0;
  width: 1588px;
  height: 2747px;
  object-fit: cover;
}
.icbo-poster-vertical-portrait,
.people-8027909-1-icon {
  position: absolute;
  top: 3911px;
  left: 599px;
  width: 891px;
  height: 910px;
  object-fit: cover;
  z-index: 1;
}
.icbo-poster-vertical-portrait {
  top: 0;
  left: 191px;
  width: 1280px;
  height: 1783px;
}
.poster-images {
  width: 1588px;
  height: 4821px;
  position: absolute;
  margin: 0 !important;
  right: -36px;
  bottom: -4513px;
}
.frame-parent,
.poster-from-esip {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  max-width: 100%;
}
.frame-parent {
  width: 1549px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 393px;
  box-sizing: border-box;
  gap: 320px;
  font-size: var(--font-size-29xl);
}
.poster-from-esip {
  width: 1280px;
  font-size: var(--font-size-71xl);
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.macbook-pro-16-1-child {
  width: 99px;
  height: 94px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.innovate-with-us,
.join-us {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.innovate-with-us {
  align-self: stretch;
  height: 168px;
  z-index: 1;
}
.join-us {
  width: 186px;
}
.join-us-wrapper {
  align-self: stretch;
  height: 110px;
  border: 4px solid var(--color-yellowgreen);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28px var(--padding-2xs) var(--padding-lgi) 25px;
}
.github {
  text-decoration: underline;
  color: inherit;
}
.github,
.slack {
  flex: 1;
  position: relative;
}
.platform-list {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.platforms {
  width: 214px;
  flex-direction: row;
  padding: 0 var(--padding-lgi);
  box-sizing: border-box;
  font-size: var(--font-size-6xl);
  color: var(--color-silver);
  font-family: var(--font-itim);
}
.join-container,
.join-team,
.platforms {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.join-container {
  height: 154px;
  width: 226px;
  flex-direction: column;
  gap: var(--gap-lg);
}
.join-team {
  flex-direction: row;
  padding: 0 var(--padding-4xs) var(--padding-lgi);
  font-size: var(--font-size-29xl);
}
.team-members {
  flex: 1;
  position: relative;
  font-weight: 200;
  display: inline-block;
  max-width: 100%;
}
.team-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.john-graybeal {
  flex: 1;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  max-width: 100%;
}
.annamaria-masci,
.john-graybeal {
  position: relative;
  font-weight: 200;
}
.anna-maria,
.aryan,
.aryan-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-9xs);
}
.aryan,
.aryan-parent {
  padding: 0 0 0 var(--padding-11xs);
}
.aryan-parent {
  flex-direction: column;
  padding: 0 0 var(--padding-9xs);
  gap: 5px;
}
.ruth-duerr {
  position: relative;
  font-weight: 200;
  display: inline-block;
  min-width: 125px;
}
.juliane-m-schneider {
  position: relative;
  font-weight: 200;
  z-index: 1;
}
.member-list,
.ruth-duerr-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.member-list {
  width: 348px;
  gap: var(--gap-7xs);
  max-width: 100%;
}
.team-container {
  flex: 1;
  flex-direction: column;
  gap: 34px;
}
.innovate-content,
.team-container,
.team-container-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.team-container-wrapper {
  width: 416px;
  flex-direction: row;
  padding: 0 23px;
  box-sizing: border-box;
  font-size: var(--font-size-6xl);
  color: var(--color-silver);
}
.innovate-content {
  flex: 1;
  flex-direction: column;
  gap: 191px;
}
.innovate-content-wrapper,
.macbook-pro-16-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.innovate-content-wrapper {
  width: 607px;
  flex-direction: row;
  padding: 0 var(--padding-2xs);
  max-width: 100%;
}
.macbook-pro-16-1 {
  width: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
  flex-direction: column;
  padding: 146px 73px 221px;
  gap: 1742px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 93px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1350px) {
  .ontochoice-parent {
    flex: 1;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .frame-parent {
    gap: 160px;
    padding-bottom: 255px;
    box-sizing: border-box;
  }
  .macbook-pro-16-1 {
    gap: 871px;
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .ontochoice-parent {
    min-width: 100%;
  }
  .frame-parent {
    padding-bottom: 166px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .ontochoice {
    font-size: var(--font-size-19xl);
  }
  .choosing-terms-and-container {
    font-size: 52px;
  }
  .ontochoice-parent {
    gap: 35px;
  }
  .image-content-wrapper {
    min-width: 100%;
  }
  .frame-container {
    gap: 25px;
  }
  .innovation-thats-consistent {
    font-size: var(--font-size-19xl);
  }
  .here-is-some-container,
  .here-is-some-container1 {
    font-size: var(--font-size-26xl);
  }
  .frame-parent {
    gap: 80px;
  }
  .poster-from-esip {
    font-size: var(--font-size-26xl);
  }
  .innovate-with-us {
    font-size: 46px;
  }
  .join-us {
    font-size: var(--font-size-19xl);
  }
  .innovate-content {
    gap: 95px;
  }
  .macbook-pro-16-1 {
    gap: 435px;
  }
}
@media screen and (max-width: 450px) {
  .ontochoice {
    font-size: var(--font-size-10xl);
  }
  .choosing-terms-and-container {
    font-size: 31px;
  }
  .ontochoice-parent {
    gap: var(--gap-lg);
  }
  .innovation-thats-consistent {
    font-size: var(--font-size-10xl);
  }
  .here-is-some-container,
  .here-is-some-container1 {
    font-size: var(--font-size-8xl);
  }
  .frame-parent {
    gap: 40px;
    padding-bottom: 108px;
    box-sizing: border-box;
  }
  .poster-from-esip {
    font-size: var(--font-size-8xl);
  }
  .innovate-with-us {
    font-size: 28px;
  }
  .join-us {
    font-size: var(--font-size-10xl);
  }
  .annamaria-masci,
  .github,
  .john-graybeal,
  .juliane-m-schneider,
  .ruth-duerr,
  .slack,
  .team-members {
    font-size: var(--font-size-xl);
  }
  .team-container {
    gap: 17px;
  }
  .innovate-content {
    gap: 48px;
  }
  .macbook-pro-16-1 {
    gap: 218px;
  }
}
