.ontochoice {
  margin: 0;
  width: 345px;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.choosing-terms-and {
  margin: 0;
}
.choosing-terms-and-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 105px;
  font-weight: 500;
  font-family: inherit;
}
.layout {
  width: 668px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 71px;
  min-width: 668px;
  max-width: 100%;
}
.back-image-icon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 142px;
  max-height: 100%;
  width: 688px;
  object-fit: cover;
}
.network-graphic-1-icon {
  position: absolute;
  top: 76px;
  left: 0;
  width: 724px;
  height: 452px;
  object-fit: cover;
  z-index: 1;
}
.back-image-parent {
  align-self: stretch;
  height: 603px;
  position: relative;
}
.layout-parent,
.showcase {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.showcase {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  box-sizing: border-box;
  min-width: 539px;
}
.layout-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-32xl);
  flex-shrink: 0;
}
.innovation-thats-consistent {
  margin: 0;
  width: 823px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 118%;
}
.consistent-innovation,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.consistent-innovation {
  width: 727px;
  border: 4px solid var(--color-yellowgreen);
  overflow: hidden;
  flex-direction: row;
  padding: 9px 0 var(--padding-base) var(--padding-base);
  min-height: 97px;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent {
  width: 1549px;
  flex-direction: column;
  padding: 0 0 152px;
  gap: 12px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.here-is-some-container {
  margin: 0;
  width: 1280px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.icbo-poster-vertical-portrait {
  width: 1280px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.call-to-action {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.here-is-some-of-our-work-post-parent {
  width: 1468px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 74px;
  max-width: 100%;
  text-align: left;
  font-size: 90px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.macbook-pro-16-1-child {
  width: 99px;
  height: 94px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.innovate-with-us {
  margin: 0;
  height: 201.2px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.innovate-with-us-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 89.2px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.start-already {
  margin: 0;
  width: 328px;
  position: relative;
  font-size: inherit;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.start-already-wrapper {
  width: 382px;
  border: 4px solid var(--color-yellowgreen);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xl) 21px var(--padding-4xl) 25px;
  min-height: 118px;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-29xl);
}
.team-members {
  flex: 1;
  position: relative;
  font-weight: 200;
  display: inline-block;
  max-width: 100%;
}
.team-members-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  max-width: 100%;
}
.annamaria {
  position: relative;
  font-weight: 200;
  display: inline-block;
  min-width: 123px;
}
.anna-maria {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 4px;
}
.aryan-singh-dalal {
  position: relative;
  font-weight: 200;
}
.hande-mcginty-parent,
.member-names2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.member-names2 {
  flex-direction: row;
  padding: 0 var(--padding-11xs);
}
.hande-mcginty-parent {
  flex-direction: column;
  gap: 4px;
}
.ruth-duerr {
  position: relative;
  font-weight: 200;
  display: inline-block;
  min-width: 125px;
}
.hande-eric {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.connect,
.contact-info,
.hande-eric {
  flex-direction: column;
  justify-content: flex-start;
}
.contact-info {
  width: 348px;
  display: flex;
  align-items: flex-start;
  gap: 6px;
  max-width: 100%;
}
.connect {
  flex: 1;
  gap: 34px;
}
.connect,
.frame-container,
.frame-wrapper,
.team-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.team-container {
  width: 416px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-4xl);
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-6xl);
  color: var(--color-silver);
}
.frame-container,
.frame-wrapper {
  flex-direction: column;
}
.frame-container {
  align-self: stretch;
  justify-content: flex-start;
  gap: 103px;
}
.frame-wrapper {
  width: 585px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  min-width: 585px;
}
.people-8027909-1-icon {
  height: 946px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 579px;
}
.frame-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  row-gap: 20px;
  max-width: 100%;
}
.macbook-pro-16-1,
.macbook-pro-16-1-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.macbook-pro-16-1-inner {
  width: 1498px;
  flex-direction: row;
  padding: 0 11px;
  max-width: 100%;
  text-align: left;
  font-size: 93px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.macbook-pro-16-1 {
  width: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
  flex-direction: column;
  padding: 146px 73px 178px;
  gap: 168px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .layout {
    flex: 1;
  }
  .layout-parent {
    flex-wrap: wrap;
  }
  .frame-wrapper {
    flex: 1;
  }
  .frame-group {
    flex-wrap: wrap;
  }
  .macbook-pro-16-1 {
    gap: 84px;
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .layout {
    min-width: 100%;
  }
  .frame-parent {
    padding-bottom: 99px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .ontochoice {
    font-size: var(--font-size-19xl);
  }
  .choosing-terms-and-container {
    font-size: 52px;
  }
  .layout {
    gap: 35px;
  }
  .showcase {
    min-width: 100%;
  }
  .layout-parent {
    gap: 25px;
  }
  .innovation-thats-consistent {
    font-size: var(--font-size-19xl);
  }
  .here-is-some-container {
    font-size: 45px;
  }
  .here-is-some-of-our-work-post-parent {
    gap: 37px;
  }
  .innovate-with-us {
    font-size: 46px;
  }
  .start-already {
    font-size: var(--font-size-19xl);
  }
  .frame-container {
    gap: var(--gap-32xl);
  }
  .frame-wrapper,
  .people-8027909-1-icon {
    min-width: 100%;
  }
  .macbook-pro-16-1 {
    gap: 42px;
  }
}
@media screen and (max-width: 450px) {
  .ontochoice {
    font-size: var(--font-size-10xl);
  }
  .choosing-terms-and-container {
    font-size: 31px;
  }
  .layout {
    gap: var(--gap-lg);
  }
  .innovation-thats-consistent {
    font-size: var(--font-size-10xl);
  }
  .frame-parent {
    padding-bottom: 64px;
    box-sizing: border-box;
  }
  .here-is-some-container {
    font-size: 27px;
  }
  .here-is-some-of-our-work-post-parent {
    gap: var(--gap-lg);
  }
  .innovate-with-us {
    font-size: 28px;
  }
  .start-already {
    font-size: var(--font-size-10xl);
  }
  .annamaria,
  .aryan-singh-dalal,
  .ruth-duerr,
  .team-members {
    font-size: var(--font-size-xl);
  }
  .connect {
    gap: 17px;
  }
  .frame-container {
    gap: 26px;
  }
  .macbook-pro-16-1 {
    gap: 21px;
  }
}
